<div class="information">
  <div class="inside-padding">
    <h1> Pokemones </h1>
    <p> Conoce tus Pokemones: </p>
</div>

<div class="tablaPok">
  <div class="inside-padding">
    <app-pokemones></app-pokemones>
  </div>
</div>  

<div class="controls"></div>
  <a href="#" class="previous" ng-click="count = count + 1" ng-init="count=0"> < Previous</a>
  <br>
  <a href="#" class="next" ng-click="count = count + 1" ng-init="count=0">Next > </a>
</div>

<div class="detalles">
  <div class="inside-padding">
    <button type="button" class="btn btn-primary">Conocer detalles de un pokemon</button>
  </div>
</div>